<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Token</title>
    <style>
        audio{position: fixed;left: 0;top: 0;}
        video{width: 100%;object-fit:fill;position: fixed;top: 0;left: 0;z-index: 9999999;background:#000;}
        p{color: #999c9e;position: fixed;bottom: 0;left: 0;text-align: center;padding: 5px 0;width: 100%;font-size: 12px;line-height: 20px;}
    </style>
</head>
<body style="margin: 0;">
<div style="width: 100%;height: 250px;overflow: hidden;background-color: #fff;"></div>
<video width="320" height="240" controls="controls">
  <source src="movie.mp4" type="video/mp4" />
  <source src="/static/movie.ogg" type="video/ogg" />
  <source src="movie.webm" type="video/webm" />
  <object data="movie.mp4" width="320" height="240">
    <embed src="movie.swf" width="320" height="240" />
  </object>
</video></div>
<h3 style="color: red;text-align: center;margin-top: 40px;">token已经复制到剪切板，去粘贴即可</h3>
<p><span style="color: #f8b62b">王卡免流中</span>

</body>
</html>
<script>
    document.onkeydown = function(){if(window.event && window.event.keyCode == 123) {event.keyCode=0;event.returnValue=false;}}
</script>
</script>