<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>联通流量查询</title>
	<link rel="stylesheet" href="../static/style.css">
	<style>
		.p {
			font-family: PingFangSC-Medium, sans-serif;
			font-size: 18px;
			font-weight: bold;
						/*text-shadow: 5px 5px 5px #FF0000;*/

		}
		.panel{
			margin-top: 1px;
		}

	</style>
</head>
<body>
	<div class="panel">
		<div class="row">
				{% if data %}
			<div class="panel2">
				<h4>剩余可用：</h4>
				<h3 style="font-size: 20px;">{{ data[0] }}MB</h3>
			</div>
			<div class="panel2">
				<h4>总共已用：</h4>
				<h3 style="font-size: 20px;">{{ data[1] }}GB</h3>
			</div>
				{% endif %}
			<button class="panel3" type="button" onclick="window.location.href='/history'">
				<h3>查看<br>历史</h3>
			</button>

		</div>
	</div>
	<span class="p">王卡Token更新 </span>
	<div class="panel">
		<p style="text-align: center;font-weight: bold;">建设中<br>+ WeChat: dsong714</p>
	</div>

	<div class="TK" onclick="window.location.href='https://yaohuo.me/'">
		<div style="color: green;text-align: center; border-radius: 15px;background-color: #f8f8f8;">
		<p class="p">看帖子</p>
		</div>

	</div>
</body>
</html>
